/node_modules
/crud-graphql/node_modules
/apollo/node_modules
/apollo/db/node_modules
/gatsbyUSM/proyecto/gatsbytest/node_modules
/Lab2_parte1/start/node_modules
/Lab2_parte1/start/.cache
/Lab2_parte2/start/.cache
/Lab2_parte1/start/public
/Lab2_parte2/start/public
/Lab2_parte1/start/node_modules
/Lab2_parte2/start/node_modules